@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #e78108;
  --color-orange: #d55606;
  --color-dark: #484747;
  --color-orange_bg: #ffe1ba;
  --color-gray: #555555;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

.heading {
  @apply leading-[6vw] md:leading-[5vw] tracking-tight text-[6vw] md:text-[5vw] font-bold text-dark;
}
.paragraph {
  @apply text-[3vw] sm:text-[2.5vw] md:text-[2vw] lg:text-[1.4vw] leading-[4vw] md:leading-[3vw] lg:leading-[1.6vw] xl:text-[1vw] text-gray xl:leading-[1.3vw];
}

.image-swiper .swiper-pagination-bullet {
  @apply w-2.5 h-2.5 sm:w-3 sm:h-3 bg-gray-500 opacity-70 rounded-full transition-all duration-300 mx-1;
}

.image-swiper .swiper-pagination-bullet-active {
  @apply bg-orange-400 opacity-100 scale-125;
}

.image-swiper {
  @apply overflow-visible;
}

.image-swiper .swiper-slide {
  @apply rounded-xl overflow-hidden;
}
